@import "variable";


header,footer{
  background: $color-red;
  color: $color-white;
}

header{
  .header-container{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
  }
  .header-LOGO{
    display: block;
    width: 80px;
    background-size: contain;
  }
  .header-menu{
    display: flex;
    align-items: center;
    column-gap: 64px;
    a{
      color: $color-white;
    }
  }
  .header-menu-sm{
    display: none;
  }
}
@media (max-width:767px) {
  header{
    .header-menu{
      display: none;
    }
    .header-container{
      justify-content: center;
    }
    .header-menu-sm{
      display: flex;
      flex-wrap: wrap;
      li{
        width: 50%;
        text-align: center;
        a{
          display: block;
          color: $color-white;
          padding: 16px;
          border: 1px solid $color-white;
        }
      }
    }
  }
}
footer{
  background: $color-red;
  padding: 48px 0 32px;
  .footer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    ul{
      display: flex;
    }
    .footer-menu{
      gap: 48px;
      a{
        color: $color-white;
      }
    }
    .footer-icons{
      gap: 32px;
      img{
        width: 48px;
      }
    }
  }
  .footer-contact{
    h2:first-child{
      margin-bottom: 8px;
    }
    h2{
      display: flex;
      align-items: center;
    }
  }
  .footer-bottom{
    border-top: 1px solid #fff;
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    ul{
      display: flex;
      li:first-child{
        margin-right: 48px;
      }
    }
  }
}

@media (max-width:767px) {
  footer{
    .footer-header{
      align-items: flex-start;
      .footer-menu{
        display: none;
      }
    }
    .footer-flex{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .footer-header{
      .footer-icons{
        img{
          width: 24px;
        }
      }
    }
    .footer-bottom{
      display: block;
      h2{
        margin-bottom: 8px;
      }
    }
  }
}
@media (max-width:528px) {
  footer{

  }
}