@import "variable.scss";


.products{
  padding: 80px 0;
  .products-title,.products-subtitle{
    text-align: center;
  }
  .products-subtitle{
    margin-bottom: 32px;
  }
  .products-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 80px;
    margin-bottom: 80px;
    li{
      width: 24%;
      .products-itemtitle{
        display: flex;
        justify-content: space-between;
        p{
          color: $color-red-bold;
        }
      }
      .products-blocks{
        display: flex;
        gap: 8px;
        a{
          display: block;
          width: 24px;
          height: 24px;
          border-radius: 4px;
        }
        a:first-child{
          background: $color-red;
        }
        a:last-child{
          background: $color-brown-bold;
        }
      }
    }
    .products-2-item{
      width: 32%;
      // 第二份商品頁維持3個一排
    }
  }
}
@media (max-width:992px) {
  .products{
    .products-list{
      li{
        width: 48% !important;
      }
    }
  }
}
@media (max-width:573px) {
  .products{
    .products-list{
      row-gap: 24px;
      li{
        width: 100% !important;
      }
    }
  }
}