
$color-rice: #FBF2F2;
$color-black: #000;
$color-red: #AA0601;
$color-red-bold: #650300;
$color-white: #fff;
$color-gray:#DCDCDC;
$color-gray-bold:#707070;
$color-pink:#FBF2F2;
$color-brown-bold:#5F3E2D;